* {
  margin: 0;
  padding: 0;
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
}

.links {
  text-decoration: none;
  color: black
}

.links:hover {
  text-decoration: none;
  cursor: pointer;
}

.contactIcons {
  display: flex;
  justify-content: space-evenly;
}

.project-card:hover {
  transform: scale(1.06);
}

.project-card {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.carousel-image {
  width: 100% !important;
  height: 50vh;
}

.btn-pos {
  left: 75%;
  float: right !important;
  display: flex;
}

.skills {
  background-color: rgb(172, 182, 196)  !important;
}

@media screen and (max-width: 577px) {
  .mobileDis {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .modal-image {
    height: 25vh;
  }
}
